{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block custom_head_css_js %}
    <link href="{% static 'css/plugins/ztree/awesomeStyle/awesome.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/plugins/ztree/jquery.ztree.all.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.min.js' %}"></script>
    <style type="text/css">
        div#rMenu {
            position:absolute;
            visibility:hidden;
            text-align: left;
            {#top: 100%;#}
            top: 0;
            left: 0;
            z-index: 1000;
            {#float: left;#}
            padding: 0 0;
            margin: 2px 0 0;
            list-style: none;
            background-clip: padding-box;
         }
        .dataTables_wrapper .dataTables_processing {
            opacity: .9;
            border: none;
        }
        div#rMenu li{
            margin: 1px 0;
            cursor: pointer;
            list-style: none outside none;
         }
        .dropdown a:hover {
            background-color: #f1f1f1
        }
    </style>
{% endblock %}

{% block content %}
<div class="wrapper wrapper-content">
   <div class="row">
       <div class="col-lg-3" id="split-left" style="padding-left: 3px">
           <div class="ibox float-e-margins">
               <div class="ibox-content mailbox-content" style="padding-top: 0;padding-left: 1px">
                   <div class="file-manager ">
                       <div id="recordTree" class="ztree">
                       </div>
                       <div class="clearfix"></div>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-9 animated fadeInRight" id="split-right">
           <div class="tree-toggle">
               <div class="btn btn-sm btn-primary tree-toggle-btn" onclick="toggle()">
                   <i class="fa fa-angle-left fa-x" id="toggle-icon"></i>
               </div>
           </div>
           <div class="mail-box-header">
               <table class="table table-striped table-bordered table-hover " id="record_list_table" style="width: 100%">
                   <thead>
                       <tr>
                           <th class="text-center"><input type="checkbox" class="ipt_check_all"></th>
                           <th class="text-center">平台</th>
                           <th class="text-center">{% trans 'name' %}</th>
                           <th class="text-center">大小</th>
                           <th class="text-center">更新时间</th>
                           <th class="text-center">{% trans 'Action' %}</th>
                       </tr>
                   </thead>
                   <tbody>
                   </tbody>
               </table>
           </div>
       </div>
   </div>
</div>
<div id="rMenu">
    <ul class="dropdown-menu">
        <li id="menu_refresh_record" class="btn-refresh-record" tabindex="-1"><a><i class="fa fa-refresh"></i> 更新节点日志信息</a></li>
    </ul>
</div>
{% endblock %}

{% block custom_foot_js %}
<script>
var zTree, rMenu, record_table, show = 0;
var update_node_action = "";
var current_node_id = null;
var current_node = null;
function initTable() {
    var options = {
        ele: $('#record_list_table'),
        columnDefs: [
            {targets: 2, createdCell: function (td, cellData, rowData) {
                var dataset = [];
                dataset.push('path: ' + rowData['path'])
                dataset.push('md5: ' + rowData['md5'])
                var data_content = dataset.join("<br><br>");
                var html = "<a data-toggle='popover' data-content='" + data_content + "'>" + cellData + "</a>";
                $(td).html(html);
             }},
            {targets: 4, createdCell: function (td, cellData) {
                $(td).html(formatUTC(cellData))
            }},
            {targets: 5, createdCell: function (td, cellData, rowData) {
                if (cellData === 'None'){
                    var update_btn = '<a href="{{ DEFAULT_PK }}" class="btn btn-xs btn-info" disabled>下载</a>'.replace("{{ DEFAULT_PK }}", cellData);
                } else{
                    var update_btn = '<a href="{{ DEFAULT_PK }}" class="btn btn-xs btn-info">下载</a>'.replace("{{ DEFAULT_PK }}", cellData);
                }
                assetid=rowData['log_asset_id']
                recordid=rowData['id']
                var share_btn = '<a class="btn btn-xs btn-default m-l-xs btn_share" data-assetid="'+ assetid +'" data-id="'+ recordid +'">共享</a>';
                $(td).html(update_btn + share_btn)
            }}
        ],
        ajax_url: '{% url "api-log-mis:record-list" %}',
        columns: [
            {data: "id"}, {data: "platform" }, {data: "name" },
            {data: "size"}, {data: "date_updated"}, {data: "download_url", orderable: false }
        ],
        op_html: $('#actions').html()
    };
    record_table = jumpserver.initServerSideDataTable(options);
    return record_table
}

function OnRightClick(event, treeId, treeNode) {
    if (!treeNode && event.target.tagName.toLowerCase() !== "button" && $(event.target).parents("a").length === 0) {
        zTree.cancelSelectedNode();
        showRMenu("root", event.clientX, event.clientY);
    } else if (treeNode && !treeNode.noR) {
        zTree.selectNode(treeNode);
        showRMenu("node", event.clientX, event.clientY);
    }
}

function showRMenu(type, x, y) {
    $("#rMenu ul").show();
    x -= 220;
    x += document.body.scrollLeft;
    y += document.body.scrollTop+document.documentElement.scrollTop;
    rMenu.css({"top":y+"px", "left":x+"px", "visibility":"visible"});

    $("body").bind("mousedown", onBodyMouseDown);
}

function hideRMenu() {
    if (rMenu) rMenu.css({"visibility": "hidden"});
    $("body").unbind("mousedown", onBodyMouseDown);
}

function onBodyMouseDown(event){
    if (!(event.target.id === "rMenu" || $(event.target).parents("#rMenu").length>0)) {
        rMenu.css({"visibility" : "hidden"});
    }
}

function onSelected(event, treeNode) {
    current_node = treeNode;
    current_node_id = treeNode.meta.node.id;
    zTree.expandNode(current_node, true);
    var url = record_table.ajax.url();
    url = setUrlParam(url, "tree_id", current_node_id);
    url = setUrlParam(url, "show_current_asset", getCookie('show_current_asset'));
    setCookie('log_records_selected', treeNode.node_id);
    record_table.ajax.url(url);
    record_table.ajax.reload();
}

function initTree() {
    if (zTree) {
        return
    }
    var url = '{% url 'api-log-mis:records-platform-tree' %}';
    //var showCurrentlogRecords = getCookie('show_current_log_records');
    //if (!show_current_log_records) {
    //    url += '1'
    //}
    var setting = {
        view: {
            dblClickExpand: false,
            showLine: true
        },
        data: {
            key:{
                title:"title"
            },
            simpleData: {
                enable: true
            }
        },
        async: {
			enable: true,
			url: url,
			autoParam: ["id=key", "name=n", "level=lv"],
            type: 'get'
		},
        callback: {
            onRightClick: OnRightClick,
            onSelected: onSelected,
        }
    };

    var zNodes = [];
    zTree = $.fn.zTree.init($("#recordTree"), setting, zNodes);
    rMenu = $("#rMenu");
}

$(document).ready(function(){
    initTable();
    initTree();
})
.on('click', '.btn_share', function () {
    var $this = $(this);
    var id = $this.data('id');
    var assetid=$this.data('assetid');
    var the_url = '{% url "api-log-mis:log-share" pk=DEFAULT_PK %}'.replace("{{ DEFAULT_PK }}", id);
    function success(data) {
        var task_id = data.task;
        var url = '{% url "ops:celery-task-log" pk=DEFAULT_PK %}'.replace("{{ DEFAULT_PK }}", task_id);
        window.open(url, '', 'width=800,height=600')
    };
    var body = {
        'assetid': assetid
    };
    DyAPIUpdateAttr({
        url: the_url,
        method: "POST",
        body: JSON.stringify(body),
        success:success
    });
})
.on('click', '.btn-refresh-record', function () {
    var url = "{% url 'api-log-mis:node-refresh-record-info' pk=DEFAULT_PK %}";
    var the_url = url.replace("{{ DEFAULT_PK }}", current_node_id);
    function success(data) {
        rMenu.css({"visibility" : "hidden"});
        var task_id = data.task;
        var url = '{% url "ops:celery-task-log" pk=DEFAULT_PK %}'.replace("{{ DEFAULT_PK }}", task_id);
        window.open(url, '', 'width=800,height=600')
    }
    APIUpdateAttr({
        url: the_url,
        method: "GET",
        success: success,
        flash_message: false
    });
})
</script>

{% endblock %}