{% load i18n %}
<div class="splash">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<li id="dashboard">
    <a href="{% url 'dashboard' %}">
        <i class="fa fa-dashboard" style="width: 14px"></i> <span class="nav-label">{% trans 'Dashboard' %}</span>
        <span class="label label-info pull-right"></span>
    </a>
</li>
<li id="user-asset">
    <a href="{% url 'assets:user-asset-list' %}">
        <i class="fa fa-files-o" style="width: 14px"></i><span class="nav-label">{% trans 'My assets' %}</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li id="ops">
    <a href="{% url 'ops:command-execution-start' %}">
        <i class="fa fa-terminal" style="width: 14px"></i> <span class="nav-label">{% trans 'Command execution' %}</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li id="users">
    <a href="{% url 'users:user-profile' %}">
        <i class="fa fa-user" style="width: 14px"></i> <span class="nav-label">{% trans 'Profile' %}</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li>
    <a href="{% url 'terminal:web-terminal' %}" target="_blank"><i class="fa fa-window-maximize" style="width: 14px"></i>
        <span class="nav-label">{% trans 'Web terminal' %}</span>
    </a>
</li>
<li>
    <a href="{% url 'terminal:web-sftp' %}" target="_blank"><i class="fa fa-file" style="width: 14px"></i>
        <span class="nav-label">{% trans 'File manager' %}</span>
    </a>
</li>
<li id="assets">
    <a>
        <i class="fa fa-inbox" style="width: 14px"></i> <span class="nav-label">{% trans 'Assets' %}</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="asset"><a href="{% url 'assets:asset-list' %}">{% trans 'Asset list' %}</a></li>
        <li id="domain"><a href="{% url 'assets:domain-list' %}">{% trans 'Domain list' %}</a></li>
        <li id="admin-user"><a href="{% url 'assets:admin-user-list' %}">{% trans 'Admin user' %}</a></li>
        <li id="system-user"><a href="{% url 'assets:system-user-list' %}">{% trans 'System user' %}</a></li>
        <li id="label"><a href="{% url 'assets:label-list' %}">{% trans 'Labels' %}</a></li>
        <li id="cmd-filter"><a href="{% url 'assets:cmd-filter-list' %}">{% trans 'Command filters' %}</a></li>
    </ul>
</li>
<li id="cmis">
    <a>
        <i class="fa fa-inbox" style="width: 14px"></i> <span class="nav-label">云管中心</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="cdn"><a href="{% url 'cmis:cdn-list' %}">CDN</a></li>
        <li id="chost"><a href="{% url 'cmis:chost-create' %}">采购云主机</a></li>
    </ul>
</li>
<li id="perms">
    <a href="#"><i class="fa fa-edit" style="width: 14px"></i> <span class="nav-label">{% trans 'Perms' %}</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li id="asset-permission">
            <a href="{% url 'perms:asset-permission-list' %}">{% trans 'Asset permission' %}</a>
        </li>
    </ul>
</li>
<li id="domain-name">
    <a href="#">
        <i class="fa fa-group" style="width: 14px"></i> <span class="nav-label">域名管理</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level active">
        <li id="domain-name"><a href="{% url 'domain-name:domain-name-list' %}">域名列表</a></li>
    </ul>
</li>
<li id="config">
    <a href="#">
        <i class="fa fa-group" style="width: 14px"></i> <span class="nav-label">配置管理</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="node-config"><a href="{% url 'config:node-config-list' %}">节点配置</a></li>
    </ul>
    <ul class="nav nav-second-level">
        <li id="app"><a href="{% url 'config:app-list' %}">应用配置</a></li>
    </ul>
</li>
<li id="log-mis">
    <a href="#">
        <i class="fa fa-group" style="width: 14px"></i> <span class="nav-label">日志管理</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="records"><a href="{% url 'log-mis:record-list' %}">日志记录</a></li>
    </ul>
</li>