{% extends '_base_create_update.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}

{% block custom_head_css_js %}
    <link href='{% static "css/plugins/select2/select2.min.css" %}' rel="stylesheet">
    <link href='{% static "css/plugins/sweetalert/sweetalert.css" %}' rel="stylesheet">
    <script src='{% static "js/plugins/select2/select2.full.min.js" %}'></script>
    <script src='{% static "js/plugins/sweetalert/sweetalert.min.js" %}'></script>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#" class="text-center"><i class="fa fa-laptop"></i> CDN配置 </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-7" style="padding-left: 0">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label"><b>{{ cdn.domain_name }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    {% block form %}
                                    <form id="groupForm" method="post" class="form-horizontal">
                                        {% csrf_token %}
                                        {% bootstrap_field form.source_type layout="horizontal" %}
                                        {% bootstrap_field form.source_port layout="horizontal" %}
                                        {% bootstrap_field form.sources layout="horizontal" %}
                                        {% bootstrap_field form.comment layout="horizontal" %}

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button class="btn btn-default" type="reset"> {% trans 'Reset' %}</button>
                                                <a id="modify" class="btn btn-primary" type="button">{% trans 'Submit' %}</a>
                                            </div>
                                        </div>
                                    </form>
                                    {% endblock %}
                                </div>

                            </div>
                        </div>
                        {% if user.is_superuser or user.is_org_admin %}
                        <div class="col-sm-5" style="padding-left: 0;padding-right: 0">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> HTTPS配置
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                        <tr class="no-borders-tr">
                                            <td width="50%">HTTPS安全加速:</td>
                                            <td></td>
                                            <td>
                                                <span class="pull-right">
                                                    <div class="switch">
                                                        <div class="onoffswitch">
                                                            <input type="checkbox" {% if cdn.https == "on" %} checked {% endif %}  class="onoffswitch-checkbox" id="is_active">
                                                            <label class="onoffswitch-label" for="is_active">
                                                                <span class="onoffswitch-inner"></span>
                                                                <span class="onoffswitch-switch"></span>
                                                          </label>
                                                      </div>
                                                  </div>
                                              </span>
                                          </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div id="cert" style="display:none">
                                        <form id="certGroupForm" method="post" class="form-horizontal">
                                            {% csrf_token %}
                                            <div class="form-group required">
                                                <label class="col-md-2 control-label" for="id_cert_type">证书类型</label>
                                                <div class="col-md-9">
                                                    <select name="source_type" class="form-control" title="" required="" id="id_cert_type">
                                                        <option value="">---------</option>
                                                        <option value="upload">自定义</option>
                                                        <option value="free">免费证书</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div id="upload" style="display:none">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="id_name">证书名称</label>
                                                    <div class="col-md-9"><input type="text" name="name"  maxlength="128" class="form-control" id="id_name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="id_content">内容</label>
                                                    <div class="col-md-9">
                                                        <textarea name="content" class="form-control" id="id_content"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="id_key">私钥</label>
                                                    <div class="col-md-9">
                                                        <textarea name="key" class="form-control" id="id_key"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-2">
                                                    <a id="btn-cert" class="btn btn-primary" type="button">提交</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    </div>
                                    <table class="table">
                                        <tbody>
                                        <tr class="no-borders-tr">
                                            <td width="50%">证书状态:</td>
                                            <td id="cert_status" class="pull-left"></td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm pull-right" id="btn-check">检查</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_foot_js %}
<script>
$(document).ready(function () {
    uid = "{{ cdn.account.id }}"
    url =  '{% url "api-cmis:oss-get" pk=DEFAULT_PK %}'.replace('{{ DEFAULT_PK }}', uid);
    selected_source = "{{ cdn.sources }}"
    source_type = $("#id_source_type").val()
    console.log(source_type)
    selected_source_type = "{{ cdn.source_type }}"
    GetOss(url,selected_source, source_type, selected_source_type)

    $("#id_source_type").change(function () {
        var source_type = $("#id_source_type").val()
        GetOss(url,selected_source, source_type, selected_source_type)
    });

    $("#modify").click(function () {
        var the_url = '{% url "api-cmis:cdn-modify" pk=cdn.id %}';
        var body = {
            'source_type': $("#id_source_type").val(),
            'source_port': $("#id_source_port").val(),
            'sources': $("#id_sources").val(),
        }
        var success = function () {
           window.location.reload()
        };
        DyAPIUpdateAttr({
            url: the_url,
            method: 'POST',
            body: JSON.stringify(body),
            success: success
        });
    });

    $("#is_active").click(function () {
        var checked = $(this).prop('checked');
        if (checked){
            $('#cert').css("display", "block");
        } else{
            $('#cert').css("display", "none");
        }
    });
    $("#id_cert_type").change(function(){
        var type = $(this).val()
        if ( type === 'upload' ){
           $('#upload').css("display", "block");
        } else {
           $('#upload').css("display", "none");
        }
    });

    $("#btn-cert").click(function () {
        var the_url = '{% url "api-cmis:cdn-set" pk=cdn.id %}';
        var checked = $("#is_active").prop('checked');
        var body = {
            'action': 'https',
            'https': checked,
            'CertType': $("#id_cert_type").val(),
            'CertName': $("#id_name").val(),
            'ServerCertificate': $("#id_content").val(),
            'PrivateKey': $("#id_key").val(),
        };
        var success = function (data) {
            $("#cert_status").html(data['msg']['Status']);
            if (data['msg']['ServerCertificateStatus'] === 'on'){
                $("#is_active").prop("checked", true);
            } else {
                $("#is_active").prop("checked", false);
            }
        };
        DyAPIUpdateAttr({
            url: the_url,
            method: 'POST',
            body: JSON.stringify(body),
            success_message:'操作成功',
            success: success
        });
    });

    $("#btn-check").click(function () {
        var the_url = '{% url "api-cmis:cdn-set" pk=cdn.id %}';
        var checked = $(this).prop('checked');
        var body = {
            'action': 'checkCert',
        };
        var success = function (data) {
            $("#cert_status").html(data['msg']['Status']);
            if (data['msg']['ServerCertificateStatus'] === 'on'){
                $("#is_active").prop("checked", true);
            } else {
                $("#is_active").prop("checked", false);
            }
        };
        DyAPIUpdateAttr({
            url: the_url,
            method: 'POST',
            body: JSON.stringify(body),
            success_message:'检查操作成功',
            success: success
        });
    });
});
</script>
{% endblock %}
