{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block custom_head_css_js %}
    <link href='{% static "css/plugins/select2/select2.min.css" %}' rel="stylesheet">
    <link href='{% static "css/plugins/sweetalert/sweetalert.css" %}' rel="stylesheet">
    <script src='{% static "js/plugins/select2/select2.full.min.js" %}'></script>
    <script src='{% static "js/plugins/sweetalert/sweetalert.min.js" %}'></script>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#" class="text-center"><i class="fa fa-laptop"></i> CDN配置 </a>
                            </li>
                            {% if user.is_superuser %}
                            <li class="pull-right">
                                <a class="btn btn-outline btn-default" href="{% url 'assets:asset-update' pk=cdn.id %}"><i class="fa fa-edit"></i>{% trans 'Update' %}</a>
                            </li>
                            <li class="pull-right">
                                <a class="btn btn-outline btn-danger btn-delete-asset">
                                    <i class="fa fa-trash-o"></i>{% trans 'Delete' %}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-7" style="padding-left: 0">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label"><b>{{ cdn.domain_name }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>加速区域:</td>
                                            <td><b>{{ cdn.get_scope_display }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>源站类型:</td>
                                            <td><b>{{ cdn.get_source_type_display }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>回源地址:</td>
                                            <td><b>{{ cdn.sources }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>端口:</td>
                                            <td><b>{{ cdn.source_port }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>备注:</td>
                                            <td><b>{{ cdn.comment }}</b></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% if user.is_superuser or user.is_org_admin %}
                        <div class="col-sm-5" style="padding-left: 0;padding-right: 0">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> HTTPS配置
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                        <tr class="no-borders-tr">
                                            <td width="50%">HTTPS安全加速:</td>
                                            <td></td>
                                            <td>
                                                <span class="pull-right">
                                                    <div class="switch">
                                                        <div class="onoffswitch">
                                                            <input type="checkbox" {% if cdn.https == "on" %} checked {% endif %}  class="onoffswitch-checkbox" id="is_active">
                                                            <label class="onoffswitch-label" for="is_active">
                                                                <span class="onoffswitch-inner"></span>
                                                                <span class="onoffswitch-switch"></span>
                                                          </label>
                                                      </div>
                                                  </div>
                                              </span>
                                          </td>
                                        </tr>
                                        <tr class="no-borders-tr">
                                            <td width="50%">证书状态:</td>
                                            <td id="cert_status" class="pull-left"></td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm pull-right" id="btn-check">检查</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_foot_js %}
<script>

$(document).ready(function () {
    $("#is_active").click(function () {
        var the_url = '{% url "api-cmis:cdn-set" pk=cdn.id %}';
        var checked = $(this).prop('checked');
        var body = {
            'action': 'https',
            'https': checked
        };
        var success = function (data) {
            $("#cert_status").html(data['msg']['Status']);
            console.log(data['msg']['ServerCertificateStatus'])
            if (data['msg']['ServerCertificateStatus'] === 'on'){
                $("#is_active").prop("checked", true);
            } else {
                $("#is_active").prop("checked", false);
            }
        };
        DyAPIUpdateAttr({
            url: the_url,
            method: 'POST',
            body: JSON.stringify(body),
            success_message:'检查操作成功',
            success: success
        });
    });
    $("#btn-check").click(function () {
        var the_url = '{% url "api-cmis:cdn-set" pk=cdn.id %}';
        var checked = $(this).prop('checked');
        var body = {
            'action': 'checkCert',
        };
        var success = function (data) {
            $("#cert_status").html(data['msg']['Status']);
            console.log(data['msg']['ServerCertificateStatus'])
            if (data['msg']['ServerCertificateStatus'] === 'on'){
                $("#is_active").prop("checked", true);
            } else {
                $("#is_active").prop("checked", false);
            }
        };
        DyAPIUpdateAttr({
            url: the_url,
            method: 'POST',
            body: JSON.stringify(body),
            success_message:'检查操作成功',
            success: success
        });
    });
});
</script>
{% endblock %}
