{% extends '_base_list.html' %}
{% load i18n static %}
{% block table_search %}{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="{% url 'cmis:chost-create' %}" class="text-center"><i class="fa fa-laptop"></i> 采购云主机 </a>
                            </li>
                            <li class="active">
                                <a href="{% url 'cmis:chost-create-record-list' %}" class="text-center"><i class="fa fa-laptop"></i> 采购记录 </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-12" style="padding-left: 0;">
                            <div class="" id="content_start">
                            </div>
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <table class="table table-striped table-bordered table-hover " id="cdn_list_table" >
                                        <thead>
                                        <tr>
                                            <th class="text-center">
                                                <input type="checkbox" id="check_all" class="ipt_check_all" >
                                            </th>
                                            <th class="text-center">账号</th>
                                            <th class="text-center">云主机ID</th>
                                            <th class="text-center">资产信息</th>
                                            <th class="text-center">创建人</th>
                                            <th class="text-center">创建时间</th>
                                            <th class="text-center">状态</th>
                                            <th class="text-center">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content_bottom_left %}{% endblock %}
{% block custom_foot_js %}
<script>
function initTable() {
    var options = {
        ele: $('#cdn_list_table'),
        columnDefs: [
            {targets: 3, createdCell: function (td, cellData, rowData) {
                {% url 'assets:asset-detail' pk=DEFAULT_PK as the_url  %}
                var detail_btn = '<a href="{{ the_url }}">' + cellData + '</a>';
                $(td).html(detail_btn.replace('{{ DEFAULT_PK }}', rowData.asset));
            }},
            {targets: 5, createdCell: function (td, cellData) {
                $(td).html(formatUTC(cellData))
            }},
            {targets: 7, createdCell: function (td, cellData, rowData) {
                console.log(cellData, rowData)
                var update_btn = '<a class="btn btn-xs btn-info btn-update" ' +
                    'data-uid="{{ DEFAULT_PK }}" ' +
                    'data-action="getstatus" ' +
                    'data-account_id="' + rowData.account +
                    '">刷新状态</a>'.replace('{{ DEFAULT_PK }}', cellData);
                $(td).html(update_btn)
             }}
        ],
        ajax_url: '{% url "api-cmis:chost-create-record" %}',
        columns: [
            {data: "id"}, {data: "account_display"}, {data: "hid" }, {data: "asset_display" },
            {data: "created_by" }, {data: "date_created" },
            {data: "status"}, {data: "id"},
        ],
        op_html: $('#actions').html()
    };
    jumpserver.initServerSideDataTable(options);
}
$(document).ready(function(){

    initTable();
})
.on('click', '.btn-update', function () {
    $this = $(this)
    var $data_table = $('#cdn_list_table').DataTable();
    var uid = $this.data('uid');
    var action =  $this.data('action');
    var account_id = $this.data('account_id');
    var the_url = '{% url "api-cmis:chost-get-info" %}'
    var body = {
        'cid':uid,
        'Action': action,
        'account_id':account_id,
    }
    var success = function () {
        $data_table.draw(false);
    }
    DyAPIUpdateAttr({
        url: the_url,
        method: "POST",
        body: JSON.stringify(body),
        flash_message : false,
        success:success
    });
});
</script>
{% endblock %}
