{% extends '_base_create_update.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="{% url 'cmis:chost-create' %}" class="text-center"><i class="fa fa-laptop"></i> 采购云主机 </a>
                            </li>
                            <li>
                                <a href="{% url 'cmis:chost-create-record-list' %}" class="text-center"><i class="fa fa-laptop"></i> 采购记录 </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-12" style="padding-left: 0;">
                            <div class="" id="content_start">
                            </div>
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <form id="groupForm" method="post" class="form-horizontal">
                                        {% if form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                 {{ form.non_field_errors }}
                                             </div>
                                        {% endif %}
                                        {% csrf_token %}
                                        <h3>账号</h3>
                                        {% bootstrap_field form.account layout="horizontal" %}
                                        <div class="form-group required">
                                            <label class="col-md-2 control-label" for="id_ProjectId">项目</label>
                                            <div class="col-md-9">
                                                <select name="ProjectId" class="form-control" title="" id="id_ProjectId">
                                                </select>
                                            </div>
                                        </div>
                                        {% bootstrap_field form.nodes layout="horizontal" %}
                                        {% bootstrap_field form.admin_user layout="horizontal" %}
                                        {% bootstrap_field form.Domain layout="horizontal" %}
                                        {% bootstrap_field form.ChargeType layout="horizontal" %}
                                        <div class="form-group required Quantity">
                                            <label class="col-md-2 control-label" for="id_Quantity">购买时长</label>
                                            <div class="col-md-9">
                                                <select name="Quantity" class="form-control" title="" id="id_Quantity">
                                                    <option value =0 selected>购至月末</option>
                                                    <option value =1>1个月</option>
                                                    <option value =2>2个月</option>
                                                    <option value =3>3个月</option>
                                                    <option value =4>4个月</option>
                                                    <option value =5>5个月</option>
                                                    <option value =6>6个月</option>
                                                    <option value =7>7个月</option>
                                                    <option value =8>8个月</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <h3>地域</h3>
                                        <div class="form-group required">
                                            <label class="col-md-2 control-label" for="id_Region">地域</label>
                                            <div class="col-md-9">
                                                <select name="Region" class="form-control" title="" id="id_Region">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label class="col-md-2 control-label" for="id_Zone">可用区</label>
                                            <div class="col-md-9">
                                                <select name="Zone" class="form-control" title="" id="id_Zone">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <h3>基础配置</h3>
                                        {% bootstrap_field form.OSType layout="horizontal" %}
                                        {% bootstrap_field form.ImageType layout="horizontal" %}
                                        <div class="form-group required">
                                            <label class="col-md-2 control-label" for="id_ImageId">镜像</label>
                                            <div class="col-md-9">
                                                <select name="ImageId" class="form-control" title="" id="id_ImageId">
                                                </select>
                                            </div>
                                        </div>
                                        {% bootstrap_field form.MachineType layout="horizontal" %}
                                        {% bootstrap_field form.CPU layout="horizontal" %}
                                        {% bootstrap_field form.Memory layout="horizontal" %}
                                        {% bootstrap_field form.Disks0Type layout="horizontal" %}
                                        {% bootstrap_field form.Disks0Size layout="horizontal" %}
                                        {% bootstrap_field form.Disks1Type layout="horizontal" %}
                                        {% bootstrap_field form.Disks1Size layout="horizontal" %}
                                        {% bootstrap_field form.NetCapability layout="horizontal" %}
                                        {% bootstrap_field form.HotplugFeature layout="horizontal" %}
                                        <div class="hr-line-dashed"></div>
                                        <h3>网络配置</h3>
                                        <div class="form-group required">
                                            <label class="col-md-2 control-label" for="id_VPCId">所属VPC</label>
                                            <div class="col-md-9">
                                                <select name="VPCId" class="form-control" title="" id="id_VPCId">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label class="col-md-2 control-label" for="id_SubnetId">所属子网</label>
                                            <div class="col-md-9">
                                                <select name="SubnetId" class="form-control" title="" id="id_SubnetId">
                                                </select>
                                            </div>
                                        </div>
                                        {% bootstrap_field form.EIP layout="horizontal" %}
                                        <div class="vpc" style="display:none">
                                            {% bootstrap_field form.EIPPayMode layout="horizontal" %}
                                            {% bootstrap_field form.EIPBandwidth layout="horizontal" %}
                                        </div>
                                        <div class="form-group required">
                                            <label class="col-md-2 control-label" for="id_SecurityGroupId">防火墙</label>
                                            <div class="col-md-9">
                                                <select name="SecurityGroupId" class="form-control" title="" id="id_SecurityGroupId">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <h3>管理设置</h3>
                                        {% bootstrap_field form.Name layout="horizontal" %}
                                        {% bootstrap_field form.Password layout="horizontal" %}
                                        {% bootstrap_field form.SSHPort layout="horizontal" %}
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2" style="display:none" id="price">
                                            <p>
                                                <span>主机费用:</span>
                                                <span style="color:red;" id="host_price"></span>
                                                <span>弹性IP费用:</span>
                                                <span style="color:red;" id="EIP_price"></span>
                                                <span>合计:</span>
                                                <span style="color:red;" id="sum"></span>
                                            </p>
                                        </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button class="btn btn-default" type="reset"> {% trans 'Reset' %}</button>
                                                <a id="price_button" class="btn btn-warning" type="submit">价格</a>
                                                <button id="submit_button" class="btn btn-primary" type="submit">{% trans 'Submit' %}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_foot_js %}
<script type="text/javascript">
function getInfo(props) {
    var url = '{% url "api-cmis:chost-get-info" %}';
    $(".splash").show();
    $.ajax({
        url: url,
        data: JSON.stringify(props.data),
        type: "POST",
        contentType:"application/json; charset=utf-8",
        dataType:"json"
    }).done(function(ret) {
        if (ret.code != 0) {
            var data = ret['msg'];
            $("#" + props.to + " option").remove();
            for (var i = 0; i < data.length; i++) {
                if (data[i].IsDefault) {
                    $("#" + props.to).append("<option value =" + data[i].id + " selected>" + data[i].name + "</option>")
                } else {
                    $("#" + props.to).append("<option value =" + data[i].id + ">" + data[i].name + "</option>")
                }
            }
            if (typeof props.success === 'function') {
                return props.success(props.data);
            }
            $(".splash").hide();
        } else {
            $("#" + props.to + " option").remove();
            $("#" + props.to).append("<option value='' >没有相关信息</option>")
            $(".splash").hide();
        }
    });
}
function getZone(id, region) {
    getInfo({
        to: 'id_Zone',
        data: {'Action': 'GetZone','account_id': id, 'Region':region}
    })
}
function getSubnet(id, region, projectID) {
    var vpcID = $("#id_VPCId").val();
    getInfo({
        to: 'id_SubnetId',
        data: {'Action': 'DescribeSubnet','account_id': id, 'Region':region, 'ProjectId':projectID, VPCId:vpcID}
    })
}
function getVPC(id, region, projectID) {
    var subnet = function () {
        getSubnet(id, region, projectID)
    }
    getInfo({
        to: 'id_VPCId',
        data: {'Action': 'DescribeVPC','account_id': id, 'Region':region, 'ProjectId':projectID},
        success: subnet
    })
}
function getFirewall(id, region, projectID) {
    getInfo({
        to: 'id_SecurityGroupId',
        data: {'Action': 'DescribeFirewall','Region':region,'account_id': id, 'ProjectId':projectID},
    })
}
function getRegion(id) {
    var getOther = function () {
        //get zone
        var region = $("#id_Region").val();
        getZone(id, region)
        var projectid = $("#id_ProjectId").val();
        getVPC(id, region, projectid)
        getFirewall(id, region, projectid)
    }
    getInfo({
        //get region
        to: 'id_Region',
        data: {'Action': 'GetRegion','account_id': id},
        success: getOther
    })
}
function getProject(id) {
    var getOther = function () {
        getRegion(id)
    }
    getInfo({
        // get project
        to: 'id_ProjectId',
        data: {'Action': 'GetProjectList','account_id': id},
        success: getOther
    })
}

$(document).ready(function () {
    $('.select2').select2({
        allowClear: true
    });
    $('#id_nodes.select2').select2({
        closeOnSelect: false
    });
    $("#id_account").change(function() {
        var id = $("#id_account").val();
        getProject(id)
    });

    $("#id_ProjectId").change(function() {
        var id = $("#id_account").val();
        getRegion(id)
    });

    $("#id_Region").change(function() {
        var id = $("#id_account").val();
        var region = $(this).val();
        var projectid = $("#id_ProjectId").val();
        getZone(id, region)
        getVPC(id, region, projectid)
        getFirewall(id, region, projectid)
    });

    $("#id_ImageType").change(function() {
        var id = $("#id_account").val();
        var projectid = $("#id_ProjectId").val();
        var regionid = $("#id_Region").val();
        var zoneid = $("#id_Zone").val();
        var ostype = $("#id_OSType").val();
        var imagetype = $("#id_ImageType").val();
        getInfo({
            //get region
            to: 'id_ImageId',
            data: { "Action":"DescribeImage","account_id":id,"ProjectId":projectid,
                    "Region":regionid,"Zone":zoneid, "OSType":ostype, "ImageType":imagetype
                    },
        });
    });

    $("#id_VPCId").change(function() {
        var id = $("#id_account").val();
        var projectID = $("#id_ProjectId").val();
        var region = $("#id_Region").val();
        getSubnet(id, region, projectID)
    });

    $("#id_EIP").click(function () {
        if ($(this).is(':checked')){
            $('.vpc').css("display", "block");
        } else {
            $('.vpc').css("display","none");
        }
    });
    $("#id_ChargeType").change(function() {
        var charge_type = $(this).val();
        if (charge_type === 'Year'){
            $(".Quantity").css("display", "block")
            $("#id_Quantity option").remove();
            $("#id_Quantity").append("<option value =1 selected>1年</option>")
            $("#id_Quantity").append("<option value =2>2年</option>")
            $("#id_Quantity").append("<option value =3>3年</option>")
            $("#id_Quantity").append("<option value =4>4年</option>")
            $("#id_Quantity").append("<option value =5>5年</option>")
        } else if (charge_type === 'Month'){
            $(".Quantity").css("display", "block")
            $("#id_Quantity option").remove();
            $("#id_Quantity").append("<option value =0 selected>购至月末</option>")
            $("#id_Quantity").append("<option value =1>1个月</option>")
            $("#id_Quantity").append("<option value =2>2个月</option>")
            $("#id_Quantity").append("<option value =3>3个月</option>")
            $("#id_Quantity").append("<option value =4>4个月</option>")
            $("#id_Quantity").append("<option value =5>5个月</option>")
            $("#id_Quantity").append("<option value =6>6个月</option>")
            $("#id_Quantity").append("<option value =7>7个月</option>")
            $("#id_Quantity").append("<option value =8>8个月</option>")
        } else{
            $(".Quantity").css("display", "none")
        }
    });

    $("#price_button").click(function () {
        var the_url = '{% url "api-cmis:chost-get-price" %}';
            var success = function (ret) {
                var data = ret;
                $.each(data, function(key, val){
                    $("#" + key).html(val)
                });
                $("#price").css("display", "block");
            };
        var formData = $("#groupForm").serializeArray();
        var body = {};
        $.each(formData, function(i, field){

            body[field.name] = field.value
        });
        DyAPIUpdateAttr({
            url: the_url,
            method: "POST",
            body: JSON.stringify(body),
            flash_message : false,
            success:success
        });
    })
});
</script>
{% endblock %}