{% extends '_base_create_update.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}

{% block form %}
<form id="groupForm" method="post" class="form-horizontal">
    {% csrf_token %}
    {% bootstrap_field form.platform layout="horizontal" %}
    {% bootstrap_field form.public_node_asset layout="horizontal" %}
    <div class="form-group">
        <label class="col-md-2 control-label" for="id_public_node_asset">公共节点</label>
        <div class="col-md-9">
            <select name="private_node_asset" class="form-control select2" data-placeholder="选择资产" title="" id="id_private_node_asset">
                <option value="" selected="">---------</option>
            </select>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-default" type="reset"> {% trans 'Reset' %}</button>
            <button id="submit_button" class="btn btn-primary" type="submit">{% trans 'Submit' %}</button>
        </div>
    </div>
</form>
{% endblock %}

{% block custom_foot_js %}
<script type="text/javascript">
$(document).ready(function () {
    $("#id_platform").change(function() {
        var platform_id = $(this).val();
        $("#id_private_node_asset option:gt(0)").remove();
        //$("#id_platform option[value='" + platform_id + "']").attr("selected", "selected");
        if (platform_id != "") {
            var url = '{% url "api-config:node-config-private-get" pk=DEFAULT_PK %}'.replace('{{ DEFAULT_PK }}', platform_id);
            $.ajax({
                url: url,
                type: "GET",
                contentType:"application/json; charset=utf-8",
                dataType:"json"
            }).done(function(data, textStatue, jqXHR) {
                if (data.length != 0) {
                    for (var i = 0; i < data.length; i++) {
                        $("#id_private_node_asset").append("<option value =" + data[i].id + ">" + data[i].hostname + "(" + data[i].ip + ")" + "</option>")
                    }
                } else {
                    $("#id_private_node_asset").append("<option value='' >没有相关信息</option>")
                }
            });
        }
    })
})
</script>
{% endblock %}