{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load domain_name_tags %}

{% block custom_head_css_js %}
    <link href='{% static "css/plugins/select2/select2.min.css" %}' rel="stylesheet">
    <script src='{% static "js/plugins/select2/select2.full.min.js" %}'></script>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="{% url 'domain-name:domain-name-detail' pk=object.id %}" class="text-center"><i class="fa fa-laptop"></i> 域名详情 </a>
                            </li>
                            <li>
                                <a href="{% url 'domain-name:records-list' pk=object.id %}" class="text-center"><i class="fa fa-laptop"></i> 解析记录 </a>
                            </li>
                            <li class="pull-right">
                                <a class="btn btn-outline btn-default" href="{% url 'domain-name:domain-name-update' pk=object.id %}"><i class="fa fa-edit"></i>{% trans 'Update' %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-9" style="padding-left: 0;">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label"><b>{{ object.domain_name }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <table class="table">
                                        <tbody>
                                        <tr class="no-borders-tr">
                                            <td>{% trans 'Name' %}:</td>
                                            <td><b>{{ object.domain_name }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>所属项目:</td>
                                            <td><b>{{ object.project }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>域名注册商:</td>
                                            <td><b>{{ object.registrar }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>域名解析商:</td>
                                            <td><b>{{ object.account.get_resolver_display}}</b></td>
                                        </tr>
                                        <tr>
                                            <td>注册时间:</td>
                                            <td><b>{{ object.registration_date  }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>到期时间:</td>
                                            <td><b>{{ object.expiration_date }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>状态:</td>
                                            <td><b>{{ object.domain_status | state_show | safe }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>是否高防:</td>
                                            <td><b>{{ object.dns_high_anti }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>是否被墙:</td>
                                            <td><b>{{ object.ch_lose | yesno:"No,Yes"}}</b></td>
                                        </tr>
                                        <tr>
                                            <td>备注:</td>
                                            <td><b>{{ object.comment }}</b></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content_bottom_left %}{% endblock %}
{% block custom_foot_js %}
<script>
</script>
{% endblock %}
